.navbar{
    // margin-bottom: 20px;
    // background-color: black;
    color: white;
    font-family:"Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif";
    
    // box-shadow: 5px 5px 5px 5px grey;

    .TheLastTask {
      // margin-top: 30px;
      .toggleBtn{
        color: white;
      }

        .NavLink{
            text-decoration: none;
            padding: 10px;
            color: white;
            text-align: start;
        }
        .NavLink:hover{
            color: #ad4b0c;    
        }
        ul{
          li{
            margin-right: 30px;
          }
          li:hover{
            border-bottom: 1px solid orange;
          }
        }
          }
        }
    


